.projects-div {
    height: 100%;
    width: 100%;
}

.projects-h1 {
    font-size: 28px;
    font-family: 'NeurialGrotesk';
    text-rendering: geometricprecision;
    font-weight: 900;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1200px) {
        font-size: 36px;
    }
}

.projects-cards-div {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.projects-card-div {
    width: 100%;
    height: 45vh;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 4vh;

    @media (min-width: 1024px) {
        width: 48%;
        height: 50vh;
    }

    @media (min-width: 1200px) {
        height: auto;
    }
}

@media (min-width: 1024px) {
    .projects-card-div:nth-child(even) {
        margin-left: 4%;
    }
}

.projects-card-inside-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-card-picture {
    width: 100%;
    height: 100%;
}

.projects-card-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.project-card-overlay {
    height: 100%;
    width: 100%;
    background: #00000046;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.image-container:not(:hover) .overlay {
    opacity: 0;
}

.project-card-overlay-h1 {
    font-size: 24px;
    font-family: 'NeurialGrotesk';
    text-rendering: geometricprecision;
    font-weight: 600;
    margin-left: 12px;

    @media (min-width: 768px) {
        margin-left: 22px !important;
    }

    @media (min-width: 1200px) {
        margin-left: 26px !important;
    }

    @media (min-width: 1600px) {
        font-size: 26px;
        margin-left: 32px !important;
    }
}

.project-card-overlay-p {
    font-size: 12px;
    font-family: 'NeurialGrotesk';
    text-rendering: geometricprecision;
    font-weight: 500;
    margin-left: 12px;

    @media (min-width: 768px) {
        font-size: 14px;
        margin-left: 22px !important;
    }

    @media (min-width: 1200px) {
        font-size: 16px;
        margin-left: 26px !important;
    }

    @media (min-width: 1600px) {
        font-size: 18px;
        margin-left: 32px !important;
    }
}

.project-card-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 12px;

    @media (min-width: 768px) {
        margin-left: 22px;
    }

    @media (min-width: 1200px) {
        margin-left: 26px;
    }

    @media (min-width: 1600px) {
        margin-left: 32px;
    }
}

.project-card-btn {
    font-size: 11px;
    font-weight: 500;
    font-family: "NeurialGrotesk";
    text-rendering: geometricprecision;
    text-transform: capitalize;
    color: #fff;
    background: #213363;
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    outline: none;

    @media (min-width: 768px) {
        font-size: 12px;
        padding: 8px 15px;
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        padding: 10px 18px;
    }

    @media (min-width: 1600px) {
        font-size: 16px;
        padding: 12px 28px;
    }
}