.mobile-nav {
    color: inherit;
    background-color: inherit;
    height: 100%;
    width: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 768px) {
        display: none;
    }
}

.mobile-nav-btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 22px 0px 18px 0px;

    @media (min-width: 350px) {
        padding: 26px 0px 22px 0px;
    }

    @media (min-width: 600px) {
        padding: 28px 0px 24px 0px;
    }
}

.toggle-btn {
    color: inherit;
    background-color: inherit;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.mobile-nav-ul {
    height: 100%;
    flex-grow: 1;
    list-style-type: none;
    padding: 0px;
    color: inherit;
}

.mobile-nav-ul li {
    font-size: 38px;
    font-weight: 600;
    font-family: "NeurialGrotesk";
    text-rendering: geometricprecision;
    margin: 2.5vh 0px;
    padding: 0px 24px 16px 24px;
    position: relative;

    @media (min-width: 400px) {
        font-size: 42px;
    }

    @media (min-width: 600px) {
        font-size: 46px;
    }

    @media (min-height: 850px) {
        margin: 3vh 0px;
    }
}

.mobile-nav-ul li.active {
    font-weight: 900;
}

.mobile-nav-ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--background-color-dark);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.mobile-nav-ul li.active:before {
    width: 100%;
    left: 0;
}

.mobile-nav-ul li a {
    cursor: pointer;
    color: inherit !important;
    text-decoration: none !important;
}

.mobile-nav-ul.dark li::before {
    background-color: var(--background-color-light);
}